* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.chat-container {
    display: flex;
    height: 100vh;
}

.user-list {
    width: 20%;
    background-color: #f2f2f2;
    padding: 10px;
    overflow-y: auto;
}

.chat-box {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.chat-header {
    background-color: #1b76ec;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-info {
    display: flex;
    align-items: center;
}

.option {
    position: relative;
    left: 20px;
}

.username {
    font-size: 2em;
}

.active {
    background: #1b76ec;
    border-radius: 50%;
    padding: 3px;
    position: relative;
    right: 25px;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.green-light {
    background: #00ff08;
    border-radius: 50%;
    padding: 6px;
   
}


.profile-pic {
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.226);
    cursor: pointer;
    border-radius: 50%;
    margin-right: 10px;
}

.message-container {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
}

textarea {
    flex: 1;
    resize: none;
    margin-right: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
    background: #196bd6;
    color: white;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
}

button:hover {
    background: #1e78ee;
}
